# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Package manager files
.pnpm-debug.log*
yarn-error.log*
yarn-debug.log*
package-lock.json
pnpm-lock.yaml